---
sidebar_label: Get started
---

<% content_for :before_content do %>
<% img_url = "#{Frontman::Config.get(:base_url)}/frontman-logo.svg" %>
<img src="<%= img_url %>" alt="" class="mx-auto">
<% end %>

## Highlights

<% fast = partial('feature.erb', label: 'Fast') do %>
Frontman handles sites with more than 1,000 pages with ease.
It has been the backbone of the Algolia docs for years.
<% end %>

<% flexible = partial('feature.erb', label: 'Flexible') do %>
Frontman has reasonable defaults,
but gives you the freedom of building your website the way you want.
<% end %>

<% extensible = partial('feature.erb', label: 'Extensible') do %>
Frontman is written in Ruby.
It's easy to add new features or change existing ones.
<% end %>

<% powerful = partial('feature.erb', label: 'Powerful content features') do %>
Frontman scales with your needs.
It supports content reuse, extensible rendering, and data files.
<% end %>

<div class="grid sm:grid-cols-2 gap-4">
<%= fast %>
<%= flexible %>
<%= extensible %>
<%= powerful %>
</div>

## Get started

Frontman requires Ruby version <%= data.site.min_ruby_version %> or later.

To get started, add the `frontman-ssg` gem to your `Gemfile`:

```sh
bundle add frontman-ssg --version '~> <%= Frontman::VERSION %>'
```

> You can create a new `Gemfile` by running: `bundle init`.
{:.tip}

## Create a new project

The `frontman init` creates a new project from a template to get you started.
To create a new project in the directory `NEW_PROJECT`, run:

```sh
frontman init NEW_PROJECT
```

> You can create the new site in the current directory with `frontman init .`.
{:.tip}

## Start developing your site

The `frontman serve` command starts a development server for you to preview your changes.
To start it, run:

```sh
cd NEW_PROJECT
bundle install
bundle exec frontman serve
```

By default, the preview is available at [http://localhost:4568](http://localhost:4568).
If you edit the page `source/index.html.md.erb`,
the preview automatically refreshes in your browser.

## Add more content

Add more pages to the `source` directory and they get automatically converted to HTML.
For example, create a new file `source/about.html.md.erb` and enter the following content.

```markdown
---
title: About
---

Write some content with **Markdown**.
```

This new page will be available at [http://localhost:4568/about](http://localhost:4568/about).

- For more information, see [[content]].
- Curious about the strange file extensions? See [[templating-engines]].

## Build your site

To build your static website, run:

```sh
bundle exec frontman build
```

Your website will be in the `build` directory.

## Next steps

- To learn how to configure your site, see [[configuration]].
- To learn how to add layouts to your site, see [[layouts]].
